@model MvcConcessionaria.Models.Concessionaria

@{
    ViewData["Title"] = "Compra";
}

<h1>Compra</h1>

<h3>Sei sicuro di voler comprare questa macchina</h3>
<div>
    <h4>Concessionaria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modello)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modello)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDiRilascio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDiRilascio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cavalli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cavalli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cilindrata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cilindrata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alimentazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alimentazione)
        </dd>
    </dl>

    <form asp-action="Compra">
        <div class="form-group">
            <label for="Email" class="control-label">Email</label>
            <input type="email" id="Email" name="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="CodiceFiscale" class="control-label">Codice Fiscale</label>
            <input type="text" id="CodiceFiscale" name="CodiceFiscale" class="form-control" />
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Compra" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>