@model MvcConcessionaria.Models.Concessionaria

@{
    ViewData["Title"] = "Dettagli";
}

<h1 class="text-white">Dettagli del Veicolo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modello)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modello)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDiRilascio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDiRilascio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cavalli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cavalli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cilindrata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cilindrata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alimentazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alimentazione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>